README.md filter=lfs diff=lfs merge=lfs -text
example_scan_human_output.csv filter=lfs diff=lfs merge=lfs -text
model.zip filter=lfs diff=lfs merge=lfs -text
ifnepitope2.py filter=lfs diff=lfs merge=lfs -text
Database filter=lfs diff=lfs merge=lfs -text
example_design_human_output.csv filter=lfs diff=lfs merge=lfs -text
example_input_human.fa filter=lfs diff=lfs merge=lfs -text
example_predict_human_output.csv filter=lfs diff=lfs merge=lfs -text
INSTALLATION filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
example_predict_mouse_output.csv filter=lfs diff=lfs merge=lfs -text
envfile filter=lfs diff=lfs merge=lfs -text
example_design_mouse_output.csv filter=lfs diff=lfs merge=lfs -text
example_input_mouse.fa filter=lfs diff=lfs merge=lfs -text
example_scan_mouse_output.csv filter=lfs diff=lfs merge=lfs -text
